html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
    font-family: var(--font-main);
}

.wrapper {
	width: 100%;
	overflow: hidden;
}
.container {
	width: 100%;
	max-width: 1272px;
	padding: 0 18px;
	margin: 0 auto;
}
@media screen and (min-width: 1350px) {
.container {
	padding: 0;
}
}