/* Base */
@import "./base/reset";
@import "./base/fonts";
@import "./base/swiper-bundle.min";
@import "./base/vars";
@import "./base/base";
@import "./base/utils";
@import "./base/sticky-footer";

/* Blocks */
@import "./blocks/*.scss";
